<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="builder-pattern-plugin.jdt.compilationunit.editorcontext"
            targetID="#CompilationUnitEditorContext">
         <action
               class="no.bekk.boss.bpep.popup.actions.GenerateBuilderAction"
               definitionId="bpep.invoke"
               id="bpep.popup.action.invoke"
               label="Generate Builder Pattern Code"
               menubarPath="org.eclipse.jdt.ui.source.menu/generateGroup">
         </action>
      </viewerContribution>
   </extension>
<!--
   <extension point="org.eclipse.ui.bindings">
      <key commandId="bpep.generatebuilder"
           schemeId="default"
           sequence="CTRL+ALT+O">
      </key>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command id="bpep.generatebuilder"
               name="Generate Builder Pattern">
      </command>
   </extension>
   <extension
         id="bpep.generatebuilder.actions"
         name="Generate Builder Code Action"
         point="org.eclipse.ui.actionSets">
         <actionSet id="bpep.actionset"
            label="BPEP Actions"
            visible="true">
            <action id="bpep.generatebuilder"
                label="Generate Builder Pattern"
                toolbarPath="org.eclipse.ui.workbench.file/new.ext"
                icon="src/main/resources/icons/bpep.gif"
                tooltip="Create Builder Pttern"
                class="no.bekk.boss.bpep.popup.actions.GenerateBuilderAction">
            </action>
         </actionSet>
   </extension>
-->
</plugin>
